/* Constantin Panaitescu | github.com/constantin-p */

html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  color: #000;
}

::selection {
  background: rgb(243, 162, 66);
  color: #000;
}

a,
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}



.wrapper { 
  min-height: 100vh;
  padding: 5% 10%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper > header,
.wrapper > main {
  width: 100%;
  flex: 0 1 0;
}


/* HEADER */
header > h1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
  margin: 0 0 0.4rem 0 ;
}

header > h3 {
  font-size: .9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 1.4rem 0;
}


/* MAIN */
main > .links,
main > .projects {
  display: flex;
  flex-direction: column;
}


/* LINKS */
.links {
  align-items: flex-start;
}

.links > a {
  display: block;
  font-size: .9rem;
  margin: .5rem 0 0 0;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
  background-image: linear-gradient(to right, rgba(246, 50, 63, 0.75), rgb(246, 50, 63));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

  -webkit-transition: background-size 0.3s;
  -o-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

.links > a > .service {
  display: inline-block;
  min-width: 70px;
}

.links > a > .service + span {
  color: #000;
}

.links > a:hover > .service + span,
.links > a:focus > .service + span {
  color: rgb(246, 50, 63);
}

.links > a:hover,
.links > a:focus {
  color: rgba(246, 50, 63, 0.75);
  background-size: 100% 2px;
}


/* SEPARATOR */
.links + .projects {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  margin-top: 2rem;
  padding-top: 2rem;
}


/* PROJECTS */
.projects > a {
  display: block;
  padding: 16px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);

  -webkit-transition: transform 0.3s ease, background 0.3s ease;
  -o-transition: transform 0.3s ease, background 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease;
}

.projects > a + a {
  margin-top: 1.2rem;
}

.projects > a:hover,
.projects > a:focus {
  transform: scale(1.04);
  background: rgba(0, 0, 0, 0.16);
}

.projects > a > h1 {
  color: #000;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}

.projects > a > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: .75rem;
  margin: .5rem 0 0 0;
}


/* Large devices (992px and up) */
@media (min-width: 992px) {
  .wrapper { 
    flex-direction: row;
  }

  .wrapper > header,
  .wrapper > main {
    width: 50%;
    flex: 1 1 0;
  }

  header > h1 {
    font-weight: 400;
    margin: 0;
  }
}


/* DARK THEME */
@media (prefers-color-scheme: dark) {
  body { background: #000; color: #fff; }
  ::selection { color: #fff; }

  header > h1 { color: #fff; }
  header > h3 { color: rgba(255, 255, 255, 0.5); }
  .links > a { color: rgba(255, 255, 255, 0.5); }
  .links > a > .service + span { color: #fff; }
  .links > a:hover > .service + span,
  .links > a:focus > .service + span { color: rgb(246, 50, 63); }
  .links > a:hover,
  .links > a:focus { color: rgba(246, 50, 63, 0.75); }
  .links + .projects { border-top-color: rgba(255, 255, 255, 0.13); }
  .projects > a { background: rgba(255, 255, 255, 0.08); }
  .projects > a:hover,
  .projects > a:focus { background: rgba(255, 255, 255, 0.16); }
  .projects > a > h1 { color: #fff; }
  .projects > a > p { color: rgba(255, 255, 255, 0.5); }
}

body.dark { background: #000; color: #fff; }
body.dark ::selection { color: #fff; }

body.dark header > h1 { color: #fff; }
body.dark header > h3 { color: rgba(255, 255, 255, 0.5); }
body.dark .links > a { color: rgba(255, 255, 255, 0.5); }
body.dark .links > a > .service + span { color: #fff; }
body.dark .links > a:hover > .service + span,
body.dark .links > a:focus > .service + span { color: rgb(246, 50, 63); }
body.dark .links > a:hover,
body.dark .links > a:focus { color: rgba(246, 50, 63, 0.75); }
body.dark .links + .projects { border-top-color: rgba(255, 255, 255, 0.13); }
body.dark .projects > a { background: rgba(255, 255, 255, 0.08); }
body.dark .projects > a:hover,
body.dark .projects > a:focus { background: rgba(255, 255, 255, 0.16); }
body.dark .projects > a > h1 { color: #fff; }
body.dark .projects > a > p { color: rgba(255, 255, 255, 0.5); }

